html
  head
      link(rel="stylesheets" href="/styles.css")
      script(src="../cars.js")
    body
      h1.🚦MY CAR COLLECTION API 🏎
      h2.headersCentered check out these cars 
    ul.list
      p 
      li.listCars
        p 
          strong GET
          |/allCars
        div#getAll
            p method : GET 
            p route: http.//localhost:7825/cars/allCars
            p these are all the cars 

             ul.list
      p 
      li.listCars
        p 
          strong GET 
          |/all Cars By Id
        div#getById
            p method : GET 
            p route: http.//localhost:7825/cars/allCars{id}
            p these are all the cars by their id 
      li.listCars
        p
            strong POST
            |/newCars
          div
              p method : POST
              p route:http://localhost:7825/cars/newCars
              p headers: content-type application/json
              p required Fields: {model, type, year, modelname, founder}
              p Desired Outcome ; cerates new fileds with list of new cars. 
               ul.list
          p 
          li.listCars
        p 
          strong DELETE 
          |/ Delete Car By Id 
        div
            p method : DELETE
            p route: http.//localhost:7825/cars/allCars{id}
            p these are all the cars 
            p Expectation: specific car to be deleted by id

    

        